*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 1.2rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    margin: 0;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

header{
    margin: 0;
}

span, p {
    font-size: .8em;
}

