
/*hide on btn-menumobile*/
.menu .btn-menumobile{
  display: none;
}

/*main menu*/
nav{
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    padding: 15px 0;
    z-index: 12;
    align-items: center;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font:bold;
  }
  .menu .logo img{
    width: 170px;
  }
  .menu ul{
    display: inline-flex;
    align-items: center;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
    align-items: center;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li:last-child{
    background-color: rgb(243, 13, 205);
    padding: 10px 18px;
    border-radius: 5px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: rgb(243, 13, 205);
  }

/* main banner*/

.img {
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.center .sub_title{
    color: #fff;
    font-size: 52px;
    font-weight: 600;
}
  .center .btns{
    margin-top: 20px;
}
  .center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid rgb(215, 15, 233);
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
  .center .btns button:first-child{
    color: #fff;
    background: none;
}
  .btns button:first-child:hover{
    background: rgb(243, 13, 205);
    color: rgb(255, 255, 255);
}
  .center .btns button:last-child{
    background:  rgb(243, 13, 205);
    color: rgb(255, 255, 255);
}
  
/*seção dos blocos de apresentação */

.container{
  width: 100%;
  background-color: rgb(15, 15, 15);
}

.section-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    max-width: 1200px; /**/
}

.section-blocks > div {
    flex: 1 1 300px;
    margin: 50px 20px;
    border-radius: 5px;
    text-align: center;
    background: rgb(24, 24, 24);
    box-shadow: rgb(215, 15, 233) 0px 5px 15px;
    transition: .5s;
    color: #fff;
}

.section-blocks > div:hover {
    flex: 1 1 250px;
    background: rgb(243, 13, 205);
    color: #fff;
}

.section-blocks div > i{
  margin: 20px auto 10px;
}

.section-blocks h3{
    font-size: 1.5rem;
    text-align: center;
}

.section-blocks p{
    font-size: .9rem;
    text-align: center;
    margin: 20px;
}

/*titulo da seção da loja*/

.title-section{
  text-align: center;
  color: #fff;
  margin: 50px auto;
}

.title-section h2{
  font-size: 1.8em;
}

.section-store{
  max-width: 1200px;
  color: #fff;
  align-items: center;
  text-align: justify;
}

.section-store img{
  display: block;
  float: left;
  width: 400px;
  margin: auto 20px;
  border-radius: 5px;
}

.section-store h2{
  font-size: 2em;
}

/* seção da loja */

.block-store{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1250px;
  grid-gap: 20px;
  margin: 0 auto;
}
.block-store >div img{
  border-radius: 5px;
}

.block-store > div h2{
  font-size: 1.2em;
}

.block-store p{
  font-size: 0.9em;
}

.block-store > div:nth-child(1){
  grid-column: 1;
  grid-row: 1/3;
  display: block;
}

.block-store-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  grid-gap: 20px;
  margin: 0 10px 0 auto;
  align-items: center;
  text-align: center;
}

.block-store-icons > div{
  background: rgb(24, 24, 24);
  border-radius: 5px;
  box-shadow: rgb(215, 15, 233) 0px 5px 15px;
  transition: 0.5s;
}

.block-store-icons > div:hover{
  background: rgb(243, 13, 205);
}

.block-store-icons > div *{
  margin: 10px;
}

.block-store-icons > div h3{
  font-size: 0.9em;
}

.block-store-icons > div p{
  font-size: 0.8em;
}


/*titulo da seção do MVP*/

.title-section-mvp{
  clear: both;
  text-align: center;
  color: #fff;
  margin: 100px auto 100px;
}

.title-section-mvp h2{
  font-size: 1.8em;
}

/*seção do mvp*/

.section-skillss{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px auto;
  align-items: center;
}


.section-skillss::before{
  position: absolute;
  content: '';
  top: 45%;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(145, 2, 121);
}

.section-mvp{
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  flex: 1 1 200px;
}

.section-mvp .card{
  position: relative;
  width: 250px;
  height: 300px;
  text-align: center;
  z-index: 10;
  margin: 20px 20px 60px;
}

.section-mvp .card .box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(243, 13, 205, 0.05);
  box-shadow: rgba(215, 15, 233, 0.5) 0px 5px 15px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(243, 13, 205, 0.05);
  z-index: 10;
  border-radius: 5px;
}

.percent{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 100;
}

.percent .number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percent .number h2{
  font-weight: bold;
  font-size: 50px;
}

.percent .number h2 span{
  font-size: 24px;
}

.text{
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 30px 20px 10px;
  background: rgb(241, 0, 80);
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: rgb(255, 255, 255) 0px 5px 15px;
  pointer-events: none;
  transition: bottom 0.5s, z-index 0.5s transform 0.5s, padding 0.5s;
  transition-delay: 0.5s, 0.5s, 0s, 0.5s;
  z-index: 1;
}

.card:hover .text{
  transition-delay: 0s, 0.5s, 0.5s, 0s;
  bottom: -70px;
  z-index: 11;
  transform: translateX(-50%) translateY(-50px);
  padding: 10px 20px 10px;
}

.card:nth-child(1) .text{
  background: rgb(241, 0, 80);
}

.card:nth-child(2) .text{
  background: rgb(10, 116, 255);
}

.card:nth-child(3) .text{
  background: rgb(218, 255, 51);
}

svg{
  position: relative;
  width: 150px;
  height: 150px;
}

svg circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgb(255, 255, 255, 0.05);
  transform: translate(5px, 5px);
  stroke-linecap: round;
}

svg circle:nth-child(2){
  stroke: #fff;
  stroke-dasharray: 440px;
  stroke-dashoffset:440px;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 100)/100);
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 100)/100);
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 100)/100);
}

/*titulo da seção da galeria*/

.title-section-galery{
  text-align: center;
  color: #fff;
  margin: 70px auto 50px;
}

.title-section-galery h2{
  font-size: 1.8em;
}

/* galeria */

.galery{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: rgb(24, 24, 24);
  box-shadow: rgb(24, 24, 24);
}

.swiper-slide:hover{
  box-shadow: rgb(215, 15, 233) 0px 5px 15px;
}

/*parceiros*/
.secao-parceiros{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  transform-style: preserve-3d;
}

.secao-parceiros h2{
  color: rgb(215, 15, 233);
}

.secao-parceiros .box-parceiro{
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: rgb(24, 24, 24);
  border-radius: 20px;
  transform-style: preserve-3d;
}

.secao-parceiros .box-parceiro::before{
  content: 'OVER';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}



.secao-parceiros .box-parceiro::after{
  content: 'LORD';
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.secao-parceiros .box-parceiro:hover::before, .secao-parceiros .box-parceiro:hover::after{
  opacity: 0.04;
}

.secao-parceiros .box-parceiro .name{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0,0,75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.secao-parceiros .box-parceiro:hover .name{
  top: 40px;
  opacity: 1;
}

.secao-parceiros .box-parceiro .pointer{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%,0,75px);
  color: #fff;
  background-color: #313131;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.secao-parceiros .box-parceiro:hover .pointer{
  opacity: 1;
  bottom: 30px;
}

.secao-parceiros .box-parceiro .circle{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background: rgb(31, 30, 30);
  transform-style: preserve-3d;
  transform: translate3d(-50%,-50%,50px);
  z-index: 10;
  opacity: 1;
  box-shadow:rgb(215, 15, 233) 0px 5px 15px;
}

.secao-parceiros .box-parceiro .parceiro{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  transition: 0.5s;
  z-index: 11;
  transform-style: preserve-3d;
  transform: translate3d(-50%,-50%,50px) rotate(-15deg);
}

/*title question*/

.title-question{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top:20em;
  background: url('../img/simbolo.png');
  background-size:100%;
  background-position:bottom ;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-question #title-text{
  position: relative;
  font-size: 12em;
}

#title-text{
  margin-bottom: 150px;
}

.title-question .clouds{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.title-question .clouds img{
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
    transform: scale(1);
  }
  25%,75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: scale(3);
  }
}

.clear{
  position: relative;
  padding: 75px 100px;
}

/*footer*/

footer{
  background: rgb(255, 255, 255);
  color: black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto auto;
  background:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  align-items: center;
}

.flex > div {
  flex: 1 1 200px;
  margin: 30px 20px;
  padding-bottom: 2em;
  align-items: center;
  color: black;
}

.flex h2{
  font-size: 18px;
  color: black;
}

.flex p, li, .flex li a{
  color: black;
}

.flex p, .flex li, .flex li a{
  font-size: 14px;
}

.flex > div ul{
  text-align: center;
}
.b-footer{
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 1em;
  padding-bottom: 1em;
  background: rgb(12, 12, 12);
}

.b-footer p{
  font-size: 14px;
}

/*parte responsiva*/


@media (max-width:768px){

  /*Parte da seção da loja*/
  .block-store{
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
  }

  .block-store >div{
    flex: 1 1 300px;
    margin: 10px;
  }

  .block-store-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 10px 0 auto;
    align-items: center;
    text-align: center;
  }

  .block-store-icons > div{
    flex: 1 1 75px;
    margin: 10px;
    background: rgb(24, 24, 24);
    border-radius: 5px;
    box-shadow: rgb(215, 15, 233) 0px 5px 15px;
    transition: 0.5s;
  }

  /*parte das nuvens*/
  .title-question{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:12em;
    background: url('../img/banner-eu\ portifolio-sem-fundo.png');
    background-size:100%;
    background-position:bottom ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-question #title-text{
    position: relative;
    font-size: 9em;
  }
}

@media (max-width: 576px){
  /*menu mobile*/
  html, body {
	  overflow-x:hidden;
	} 
  nav {
		height: 4em;
	}
  .btn-menumobile{
    display: block !important;
  }
  .menu ul {
		position: relative;
		top: 6em;
		height: 3em;
		line-height: 3em;
		display: none;
	}

	.menu ul li {
		display: block;
		background-color: rgb(20, 20, 20);
		margin: 0;
		border-top: 1px solid #CCC;
	}

	.menu ul li a {
		font-size: 1em;
	}

	.open {
		display: block !important;
	}
  /*icones da loja*/

  .block-store-icons > div{
    flex: 1 1 130px;
    margin: 10px;
    background: rgb(24, 24, 24);
    border-radius: 5px;
    box-shadow: rgb(215, 15, 233) 0px 5px 15px;
    transition: 0.5s;
  }

  .block-store-icons > div h3{
    font-size: 0.85em;
  }
  
  .block-store-icons > div p{
    font-size: 0.5em;
  }
  /*parte das nuvens*/
  .title-question{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:8em;
    background: url('../img/banner-eu\ portifolio-sem-fundo.png');
    background-size:100%;
    background-position:bottom ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-question #title-text{
    position: relative;
    font-size: 5em;
  }

  #title-text{
    margin-bottom: 75px;
  }
}

@media (max-width: 425px){
  /*menu mobile*/
  html, body {
	  overflow-x:hidden;
	} 
  nav {
		height: 4em;
	}
  .btn-menumobile{
    display: block !important;
  }
  
  .logo img{
    width: 150px;
  }
  .menu ul {
		position: absolute;
		display: none;
    margin-top: -40px;
    margin-left: -8px;
    font-size: 20px;
	}

	.menu ul li {
		display: block;
    width: 400px;
    align-items: center;
		background-color: rgb(20, 20, 20);
		border-top: 1px solid #CCC;
    margin: 0px;
	}

	.menu ul li a {
		font-size: 1em;
	}
	.open {
    margin-top: 0px;
		display: block !important;
	}
  /*icones da loja*/

  .block-store-icons > div{
    flex: 1 1 130px;
    margin: 10px;
    background: rgb(24, 24, 24);
    border-radius: 5px;
    box-shadow: rgb(215, 15, 233) 0px 5px 15px;
    transition: 0.5s;
  }

  .block-store-icons > div h3{
    font-size: 0.85em;
  }
  
  .block-store-icons > div p{
    font-size: 0.5em;
  }
  /*parte das nuvens*/
  .title-question{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:8em;
    background: url('../img/banner-eu\ portifolio-sem-fundo.png');
    background-size:100%;
    background-position:bottom ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-question #title-text{
    position: relative;
    font-size: 5em;
  }

  #title-text{
    margin-bottom: 75px;
  }
}

@media (max-width: 375px){
  /*menu mobile*/
  html, body {
	  overflow-x:hidden;
	} 
  nav {
		height: 4em;
	}
  .btn-menumobile{
    display: block !important;
  }
  
  .logo img{
    width: 150px;
  }
  .menu ul {
		position: absolute;
		display: none;
    margin-top: -10px;
    margin-left: -20px;
    font-size: 15px;
	}

	.menu ul li {
		display: block;
    width: 400px;
    align-items: center;
		background-color: rgb(20, 20, 20);
		border-top: 1px solid #CCC;
    margin: 0px;
	}

	.menu ul li a {
		font-size: 1em;
	}
  /*banner*/

  .center .title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
  }

  .center .sub_title{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
  }
  .center .btns button{
    height: 45px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
  }
	.open {
    margin-top: 0px;
		display: block !important;
	}
  /*icones da loja*/

  .block-store-icons > div{
    flex: 1 1 130px;
    margin: 10px;
    background: rgb(24, 24, 24);
    border-radius: 5px;
    box-shadow: rgb(215, 15, 233) 0px 5px 15px;
    transition: 0.5s;
  }

  .block-store-icons > div h3{
    font-size: 0.85em;
  }
  
  .block-store-icons > div p{
    font-size: 0.5em;
  }
  /*parte das nuvens*/
  .title-question{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:8em;
    background: url('../img/banner-eu\ portifolio-sem-fundo.png');
    background-size:100%;
    background-position:bottom ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-question #title-text{
    position: relative;
    font-size: 5em;
  }

  #title-text{
    margin-bottom: 75px;
  }
}

@media (max-width: 320px){
  /*menu mobile*/
  html, body {
	  overflow-x:hidden;
	} 
  nav {
		height: 4em;
	}
  .btn-menumobile{
    display: block !important;
  }
  
  .logo img{
    width: 150px;
  }
  .menu ul {
		position: absolute;
		display: none;
    margin-top: -10px;
    margin-left: -20px;
    font-size: 15px;
	}

	.menu ul li {
		display: block;
    width: 400px;
    align-items: center;
		background-color: rgb(20, 20, 20);
		border-top: 1px solid #CCC;
    margin: 0px;
	}

	.menu ul li a {
		font-size: 1em;
	}
	.open {
    margin-top: 0px;
		display: block !important;
	}

  /*banner*/

  .center .title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
  }

  .center .sub_title{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
  }
  .center .btns button{
    height: 45px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
  }
  /*icones da loja*/

  .block-store-icons > div{
    flex: 1 1 130px;
    margin: 10px;
    background: rgb(24, 24, 24);
    border-radius: 5px;
    box-shadow: rgb(215, 15, 233) 0px 5px 15px;
    transition: 0.5s;
  }

  .block-store-icons > div h3{
    font-size: 0.85em;
  }
  
  .block-store-icons > div p{
    font-size: 0.5em;
  }
  /*parte das nuvens*/
  .title-question{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:8em;
    background: url('../img/banner-eu\ portifolio-sem-fundo.png');
    background-size:100%;
    background-position:bottom ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-question #title-text{
    position: relative;
    font-size: 5em;
  }

  #title-text{
    margin-bottom: 75px;
  }
}