/*main menu*/
nav{
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    padding: 15px 0;
    z-index: 12;
    align-items: center;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font:bold;
  }
  .menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
  }
  .menu ul{
    display: inline-flex;
    align-items: center;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
    align-items: center;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li:last-child{
    background-color: rgb(243, 13, 205);
    padding: 10px 18px;
    border-radius: 5px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: rgb(243, 13, 205);
  }

/* main banner*/

.img {
    background-image: url(../img/banner-eu.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
  .center .sub_title{
    color: #fff;
    font-size: 52px;
    font-weight: 600;
}
  .center .btns{
    margin-top: 20px;
}
  .center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid rgb(215, 15, 233);
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
  .center .btns button:first-child{
    color: #fff;
    background: none;
}
  .btns button:first-child:hover{
    background: rgb(243, 13, 205);
    color: rgb(255, 255, 255);
}
  .center .btns button:last-child{
    background:  rgb(243, 13, 205);
    color: rgb(255, 255, 255);
}
  
/*seção dos blocos de apresentação */

.container{
  width: 100%;
  background-color: rgb(15, 15, 15);
}

.section-blocks {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
}

.section-blocks > div {
    flex: 1 1 150px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(24, 24, 24);
    box-shadow: rgb(215, 15, 233) 0px 5px 15px;
    transition: .5s;
    color: #fff;
}

.section-blocks > div:hover {
    flex: 1 1 150px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(243, 13, 205);
    color: #fff;
}


.section-blocks > div i {
    align-items: center;
    margin: 20px 140px auto;
    display: block;
}

.section-blocks h3{
    font-size: 1.5rem;
    text-align: center;
}

.section-blocks p{
    font-size: .9rem;
    text-align: center;
    margin: 20px;
}

/*titulo da seção da loja*/

.title-section{
  text-align: center;
  color: #fff;
  margin: 50px auto;
}

.title-section h2{
  font-size: 1.8em;
}

.section-store{
  max-width: 1200px;
  color: #fff;
  align-items: center;
  text-align: justify;
}

.section-store img{
  display: block;
  float: left;
  width: 400px;
  margin: auto 20px;
  border-radius: 5px;
}

.section-store h2{
  font-size: 2em;
}

/* seção da loja */

.block-store{
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
}

.block-store > div{
  flex: 1 1 200px;
  margin: 20px 20px auto;
  border-radius: 5px;
}

.block-store >div img{
  border-radius: 5px;
}

.block-store > div h2{
  font-size: 1.2em;
}

.block-store p{
  font-size: 0.9em;
}

.block-store-icons{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 20px auto;
  align-items: center;
  text-align: center;
}

.block-store-icons > div{
  flex: 1 1 50px;
  margin: 10px;
  background: rgb(24, 24, 24);
  border-radius: 5px;
  box-shadow: rgb(215, 15, 233) 0px 5px 15px;
  transition: 0.5s;
}

.block-store-icons > div:hover{
  background: rgb(243, 13, 205);
}

.block-store-icons > div *{
  margin: 10px;
}

.block-store-icons > div h3{
  font-size: 0.9em;
}

.block-store-icons > div p{
  font-size: 0.8em;
}

/*titulo da seção do MVP*/

.title-section-mvp{
  clear: both;
  text-align: center;
  color: #fff;
  margin: 100px auto 100px;
}

.title-section-mvp h2{
  font-size: 1.8em;
}

/*seção do mvp*/



/*titulo da seção da galeria*/

.title-section-galery{
  text-align: center;
  color: #fff;
  margin: 70px auto 50px;
}

.title-section-galery h2{
  font-size: 1.8em;
}

/* galeria */

.galery{
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: rgb(24, 24, 24);
  box-shadow: rgb(24, 24, 24);
}

.swiper-slide:hover{
  box-shadow: rgb(215, 15, 233) 0px 5px 15px;
}

/*seção das skills e competências*/
.container-skills{
  width: 1250px;
  margin: auto;
  padding: auto;
  border-radius: 5px;
  align-items: center;
  background: rgb(24, 24, 24);
}

.section-skills{
  margin: auto;
  padding: auto;
  color: #fff;
  width: 680px;
  display: block;
  align-items: center;
  padding: 2em 0;
}

.container-skills:hover{
  box-shadow: rgb(215, 15, 233) 0px 5px 15px;
}
.section-skills span{
  padding: 10px;
  font-size: 1.2rem;
  display: inline-block;
  transition: .5s;
}

.section-skills span:hover{
  background:rgb(215, 15, 233);
  border-radius: 5px;
}

/*footer*/

footer{
  background: rgb(24, 24, 24);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 50px auto auto;
  background:rgb(24, 24, 24);
  color: #fff;
  align-items: center;
}

.flex > div {
  flex: 1 1 200px;
  margin: 30px 20px;
  padding-bottom: 2em;
  align-items: center;
}

.flex h2{
  font-size: 18px;
}

.flex p, .flex li, .flex li a{
  font-size: 14px;
}

.flex > div ul{
  text-align: center;
}
.b-footer{
  align-items: center;
  text-align: center;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  background: rgb(12, 12, 12);
}

.b-footer p{
  font-size: 14px;
}